<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- AJAX -->
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container my-4">
        <form action = "/new-sauce" method = "post">
            {% csrf_token %}
            <div class="form-group">
                <label>Hot Sauce Name</label>
                <input type="text" class="form-control" name = "name" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Spice</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="spice" value="Mild">
                    <label class="form-check-label"> Mild </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="spice" value="Medium">
                    <label class="form-check-label"> Medium </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="spice" value="Hot">
                    <label class="form-check-label"> Hot </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="spice" value="Hottest" checked>
                    <label class="form-check-label"> Hottest </label>
                </div>
            </div>
            <div class="form-group">
                <label>Price</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="price" value="8.00" checked>
                    <label class="form-check-label" >8.00</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="price" value="10.00">
                    <label class="form-check-label" >10.00</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="price" value="12.00">
                    <label class="form-check-label">12.00</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="price" value="14.00">
                    <label class="form-check-label">14.00</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="price" value="16.00">
                    <label class="form-check-label">16.00</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="price" value="18.00">
                    <label class="form-check-label">18.00</label>
                </div>
            </div>
            <div class="form-group">
                <label> Description</label>
                <textarea class="form-control" name = "description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label> Ingredients</label>
                <textarea class="form-control" name = "ingredients" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Image Name</label>
                <input type="text" class="form-control" name = "image-name" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Spice</th>
                <th scope="col">Price</th>
                <th scope="col">Image Name</th>
              </tr>
            </thead>
            <tbody>   
                {% for sauce in sauces%}
                <tr>  
                    <th scope="row">{{sauce.id}}</th>
                    <td>{{sauce.name}}</td>
                    <td>{{sauce.spice}}</td>
                    <td>{{sauce.price | floatformat:2}}</td>
                    <td>{{sauce.image_name}}</td>
                </tr>
                {%endfor%}
            </tbody>
          </table>

        
    </div>
</body>
</html>